@media (min-width: 1200px) {
    #container{
        width:960px;
        margin-left:auto;
        margin-right:auto;
    }
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content {
    margin-top: 20px;
}

#content h1{
    color: #ffa100;
    font-weight:bold;
    font-size:36px;
    margin-bottom: 10px;
}
#content h1 .subheader{
    color: #0464F4;
    font-size:24px;
    font-weight:normal;
}


