/* 
    Document   : main
    Created on : Jun 17, 2013, 1:53:03 PM
    Author     : rob
    Description:
        Purpose of the stylesheet follows.
*/

#top { 
    background-color: #0464F4;
    width:100%;
    height:50px;
    position:relative;
    color:#ffffff;
}
#title {
    position:absolute;
    top:50%;
    height:40px;
    margin-top: -16px;
    font-size: 32px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:bold;
    left:25%;
}

